.git
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

/vendor
/node_modules

.env
.env.*
!.env.example
/storage/*.key

/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

.phpunit.result.cache
/tests
.php-cs-fixer.cache
.phpstorm.meta.php
_ide_helper_models.php

.scribe/endpoints.cache
.scribe/filehashes

.idea
.vscode
.DS_Store
Thumbs.db
*.bak
*.swp
